<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Marinasi Resto</title>
</head>

<body>
    <!-- Navbar Desktop -->
    <nav class="nav">
        <ul class="navMenu">
            <li class="navLogo">Marinasi</li>
            <li class="navList"><a href="">Home</a></li>
            <li class="navList"><a href="#">Favorites</a></li>
            <li class="navList"><a href="https://github.com/FaisITApps">About Us</a></li>
            <li class="navBtn"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </nav>
    <!-- <img src="./images/heros/hero-image_4.jpg" width="450" alt=""> -->

    <div class="hero">

    </div>
</body>

</html>