<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Marinasi Resto</title>
</head>

<body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <!-- Navbar Desktop -->

    <nav class="mobile-nav">
        <a id="hamburger" href="#">☰</a>
    </nav>

    <nav class="nav" id="mobile">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="https://github.com/FaisITApps">About Us</a></li>
        </ul>
    </nav>


    <nav class="nav" id="desktop">
        <ul class="navMenu">
            <li class="navBtn"><a href="#"><i class="fas fa-bars"></i></a></li> -->
            <li class="navLogo">Marinasi</li>
            <li class="navList"><a href="">Home</a></li>
            <li class="navList"><a href="#">Favorites</a></li>
            <li class="navList"><a href="https://github.com/FaisITApps">About Us</a></li>
        </ul>
    </nav>


    <!-- Jumbotron -->
    <main class="hero">
        <div class="heroImage"></div>
        <h1>Marinasi App</h1>
        <h3>Makan Apa Hari Ini?</h3>
        <a href="#content" class="heroBtn">Cari Disini!</a>
    </main>

    <!-- Content -->
    <main>
        <section class="listMenu" id="content">
            <h2>Explore Restaurant</h2>
            <div class="contentMenu" id="menu"></div>
        </section>
    </main>

    <!-- Footer -->
    <footer id="footer">
        <div class="content-footer">
            <p>Copyright © 2021 - <a href="#">Marinasi App</a></p>
        </div>
    </footer>
</body>

</html>